.form-adress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adress-form-label {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
