@use "../../../src/variables.scss";

.buy-resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: variables.$white-color;
  margin: 2rem 2rem;
  box-shadow: 4px 4px 5px #999999;
  padding: 2rem;
  border-radius: 10px;
  padding-top: 0;
  h2 {
    text-align: center;
  }
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section-container-shop-end,
.section-container-shop-start {
  display: flex;
  flex: column;
}

.shop-start,
.shop-end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0.5rem;
}

.bike-picture-list {
  display: flex;
  flex-direction: row;
  margin: 0 0.5rem;
}

.bike-picture {
  margin: 0.5rem;
}

.tenant-name,
.tenant-adress,
.shop-name,
.shop-adress {
  margin: 0;
}

.shop-location {
  margin-top: 1rem;
  border: none;
  background-color: variables.$darkblue-color;
  color: variables.$white-color;
  height: 2rem;
  width: 10rem;
  font-size: 1rem;
  box-shadow: 4px 4px 5px #999999;
  border-radius: 10px;
}

.shop-location:hover {
  background-color: variables.$lightblue-color;
  color: variables.$darkblue-color;
  cursor: pointer;
}

@media (max-width: 768px) {
  .buy-resume {
    flex-direction: column;
  }
}
