@use "../../../src/variables.scss";

.progressBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90vw;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progressBar ul {
  list-style: none;
}

.stepPoint {
  border: 1px solid variables.$lightblue-color;
  background-color: variables.$lightblue-color;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
}

.borderStepPoint {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid variables.$black-color;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.5rem;
}

.progressLine {
  border-top: solid 1px variables.$black-color;
  width: 100%;
}
.progressLineExtremity {
  border-top: solid 1px variables.$black-color;
  width: 10%;
}
