@use "../../../src/variables.scss";

.login-header {
  display: flex;
  width: 12rem;
  justify-content: space-around;
  align-items: center;
}

.users-logo {
  height: 3rem;
  width: 3rem;
}

.label-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
