@use "../../../src/variables.scss";

.vtt-bike-title {
  font-family: variables.$font-family;
  color: variables.$darkblue-color;
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
}
.vtt-bike-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
