@use "../../../src/variables.scss";

.myCart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 85vw;
  //padding: 2rem 0;
}

.moreInfo {
  background-color: variables.$darkblue-color;
  color: variables.$white-color;
  border: none;
  width: 12rem;
  height: 2rem;
  cursor: pointer;
}

.moreLessProduct {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.moreLessProduct button {
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.moreButton,
.lessButton {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  background-color: variables.$darkblue-color;
  color: variables.$lightblue-color;
}

.deletButton {
  background-color: transparent;
}

.productCount {
  padding: 0 0.5rem;
}

.price {
  font-size: 2rem;
}

@media (max-width: 850px) {
  .myCart {
    flex-direction: column;
    width: 100%;
  }

  .moreInfo {
    width: 100%;
  }

  .moreLessProduct {
    flex-direction: column;
  }

  .moreLessProduct button {
    margin-top: 0.5rem;
  }

  .moreButton,
  .lessButton {
    height: 2.5rem;
    width: 2.5rem;
  }

  .deletButton {
    margin-top: 0.5rem;
  }

  .productCount {
    padding: 0.5rem 0;
  }

  .price {
    font-size: 1.5rem;
  }
}
