.loginRegisterForm {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.partition{
  height: 100%;
  border: 1px solid #163244;
}

.loginForm,
.registerForm {
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputLoginForm,
.inputRegisterForm {
  border: solid 1px black;
  box-shadow: 0px 10px 9px -3px rgba(0, 0, 0, 0.5);
}

.formSubmitButton {
  color: #fff;
  background-color: #163244;
  height: 2rem;
  width: 12rem;
}
