@use "../../../src/variables.scss";

.loginRegisterForm {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: auto;
  margin: 1rem 0;
}

.partition {
  height: 100vh;
  border: 1px solid variables.$darkblue-color;
}

.loginForm,
.registerForm {
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputLoginForm,
.inputRegisterForm {
  border: solid 1px variables.$black-color;
  box-shadow: 0px 10px 9px -3px rgba(0, 0, 0, 0.5);
  height: 1.25rem;
  margin-top: 0.25rem;
}

.inputLoginForm,
.inputRegisterForm,
.formSubmitButton {
  width: 12rem;
}

.formSubmitButton {
  color: variables.$white-color;
  background-color: variables.$darkblue-color;
  height: 2rem;
}
.formSubmitButton:hover {
  cursor: pointer;
  background-color: variables.$lightblue-color;
  color: variables.$darkblue-color;
}
