@use "../../../src/variables.scss";

.navbar-logo {
  width: 4%;
  aspect-ratio: 1/1;
}

.navbar {
  background-color: variables.$lightblue-color;
  padding: 0.1em;
  max-width: 100%;
}

.navbar-item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar-link {
  position: relative;
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  color: variables.$black-color;
  cursor: pointer;
}

.navbar-link:hover {
  color: variables.$white-color;
}

.navbar-list-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-icon {
  font-size: 1.5rem;
}

.navbar-list {
  position: relative;
}

.navbar-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewX(-20deg);
  background-color: variables.$darkblue-color;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1;
}

.navbar-list:hover .navbar-link::before {
  opacity: 1;
}

@media (max-width: 850px) {
  .navbar {
    background-color: variables.$lightblue-color;
    padding: 0.1em;
    max-width: 50%;
  }

  /* Styles spécifiques pour le menu burger */
  .bm-burger-button {
    position: fixed;
    width: 30px;
    height: 24px;
    right: 20px;
    top: 20px;
  }

  .bm-burger-bars {
    background-color: variables.$black-color;
  }

  .bm-burger-bars-hover {
    background-color: variables.$black-color;
  }

  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  .bm-cross {
    background-color: variables.$black-color;
  }

  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }

  .bm-menu {
    background-color: variables.$lightblue-color;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }

  .bm-morph-shape {
    fill: variables.$lightblue-color;
  }

  .bm-item {
    display: inline-block;
    margin-bottom: 10px;
  }

  .bm-overlay {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
