@use "../../../src/variables.scss";

.input-wrapper {
  position: relative;
  width: 100%;
}

.form-input {
  padding-right: 40px;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.style-form {
  background: variables.$white-color;
  width: 22rem;
  text-align: center;
  margin: 2rem auto;
  box-shadow: 4px 4px 5px #999999;
  padding-bottom: 2rem;
  border-radius: 10px;
  padding-top: 0;
}
.form-title {
  height: 2rem;
  font-size: 1rem;
  background-color: variables.$darkblue-color;
  color: variables.$white-color;
  padding: 1rem 0 0 0;
  border-radius: 10px 10px 0 0;
  margin-top: 0;
  width: 100%;
}

.form-input {
  margin: 20px 0px;
  width: 18rem;
  border: none;
  padding: 0.25rem 0;
  border-bottom: solid 1px variables.$darkblue-color;
  color: variables.$darkblue-color;
  background-color: variables.$white-color;
}

.form-button {
  border: none;
  background-color: variables.$darkblue-color;
  color: variables.$white-color;
  height: 2rem;
  width: 10rem;
  font-size: 1rem;
  box-shadow: 4px 4px 5px #999999;
  border-radius: 10px;
}

.form-button:hover {
  background-color: variables.$lightblue-color;
  color: variables.$darkblue-color;
  cursor: pointer;
}
