@use "../../../src/variables.scss";

.resumeProject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: raw;
  text-align: justify;
  padding: 1rem;
}
.textResume {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  white-space: normal;
}
.descriptionResume {
  font-weight: normal;
}
.logoResumeProject {
  width: auto;
  height: 15rem;
  object-fit: cover;
}

.display-text-bottom {
  padding: 0 1rem 2rem 1rem;
}

@media (max-width: 850px) {
  .resumeProject {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
  }

  .logoResumeProject {
    height: auto;
    width: 20vw;
    margin: 2rem 0;
  }

  .titleResume {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }

  .display-text {
    font-size: 1rem;
  }

  .display-text-bottom {
    padding-top: 1rem;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 1rem;
  }
}
