@use "../../../src/variables.scss";

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume-project,
.display-logo-title,
.text-resume {
  display: flex;
  flex-direction: column;
}

.resume-project {
  text-align: justify;
  padding: 1rem 2rem;
}

.display-logo-title {
  flex-direction: row;
}

.title-resume {
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
}

.logo-resume-project {
  width: 10rem;
  height: auto;
  object-fit: cover;
}

@media (min-width: 851px) {
  .title-resume {
    margin-left: 2rem;
    align-items: center;
    display: flex;
  }
}

@media (max-width: 850px) {
  .display-logo-title {
    flex-direction: column;
  }

  .resume-project {
    @include flex-center;
    text-align: justify;
  }

  .logo-resume-project {
    height: auto;
    width: 20vw;
    margin: 2rem 0;
    @include flex-center;
  }
}
