@use "../../../src/variables.scss";

footer {
  background-color: variables.$lightblue-color;
  padding: 2rem 0;
  text-align: center;
  font-size: 0.9rem;
}

footer a {
  color: variables.$darkblue-color;
  text-decoration: none;
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.footer_socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.footer_socials a {
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.footer_socials a:hover {
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}

.footer_copyright {
  margin-bottom: 1rem;
  color: var(--color-bg);
}

/*=====================MEDIA QUERIES (MEDIUM DEVICES) =================*/
@media screen and (max-width: 1024px) {
}

/*=====================MEDIA QUERIES (SMALL DEVICES) =================*/
@media screen and (max-width: 850px) {
  .permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  .footer_socials {
    margin-bottom: 2.6rem;
  }
}
