.add-bike-section {
  display: flex;
  flex-direction: column;
}

.add-bike-form {
  display: flex;
  flex-direction: column;
}

.add-bike-label {
  display: flex;
  flex-direction: column;
}
