@use "../../../src/variables.scss";

.button-more-info {
  font-family: variables.$font-family;
  font-weight: 700;
  color: variables.$white-color;
  background-color: variables.$darkblue-color;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: variables.$lightblue-color;
  }
}
