@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap");

$white-color: #faf8ff;
$black-color: #010d18;
$darkblue-color: #163244;
$lightblue-color: #99bdd8;
$font-family: "Red Hat Display", sans-serif;
$light-grey: rgba(108, 95, 252, 0.2);
